.btn {
  background-color: var(--primary-color);
  padding: 6px;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  height: 4.5vh;
  margin-bottom: 20px;
}

.icon {
  text-align: center;
  color: var(--third-color);
}

.addBtn {
  padding-bottom: 20px;
}
