.header {
  padding: 2rem;
  color: var(--third-color);
  font-size: 32px;
  font-weight: var(--font-semibold);
}
.sub-title {
  color: var(--secondory-color);
  font-size: var(--sub-title);
}
.main-container {
  background-color: var(--third-color);

  border-radius: 20px 20px 0 0;
  margin: -20px 0 0 0;
  padding: 2rem;
  width: 100%;
  box-shadow: 0 -5px 10px rgba(0, 0, 0, 0.2);
}
