.header {
  padding: 2rem;
  color: var(--third-color);
  font-size: 32px;
  font-weight: var(--font-semibold);
}
.sub-title {
  color: var(--secondory-color);
  font-size: var(--sub-title);
}
.main-container {
  background-color: var(--third-color);
  border-radius: 20px 20px 0 0;
  margin: -20px 0 0 0;
  padding: 2rem;
  box-shadow: 0 -5px 10px rgba(0, 0, 0, 0.2);
}

.component-box {
  border: 1px solid var(--component-border);
  border-radius: 12px;
  padding: var(--box-padding);
  margin-bottom: 40px;
}

.component-title {
  font-size: var(--component-title-size);
  font-weight: var(--component-title-weight);
  color: var(--component-title-color);
  margin-bottom: 20px;
}
.first-container {
  display: grid;
  grid-template-columns: 2fr 1fr;
  gap: 2rem;
}

.sec-container {
  display: grid;
  grid-template-columns: 2fr 1fr;
  gap: 2rem;
}

.container {
  border: 1px solid var(--third-color);
}

.subcontainer {
  margin-bottom: 15px;
}
