* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  /* colors */
  --background-color: #1e1e1e;
  --primary-font: "Urbanist", sans-serif;
  --primary-color: #1e1e1e;
  --secondory-color: #545454;
  --third-color: #ffffff;

  --sub-title: 18px;
  --font-semibold: 600;

  /* Component Box Styles */
  --box-border-radius: 12px;

  /* --box-padding: 24px;
  --box-margin: 20px; */

  --component-title-size: 24px;
  --component-title-weight: var(--font-semibold);
  --component-title-color: var(--primary-color);
  --component-border: #d3d3d3;
  /* --component-title-margin: 0 0 16px 0; */
}

body {
  background-color: var(--background-color);
  font-family: var(--primary-font);
  line-height: 175.5%;
  letter-spacing: 0%;
}
